/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-2u25g07i82] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.custom-navbar[b-2u25g07i82] {
    background-color: #0b0f1a !important;
    padding: 12px 25px;
}

.custom-navbar .nav-link[b-2u25g07i82] {
    color: #ffffff !important;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 20px;
}

.custom-navbar .nav-link:hover[b-2u25g07i82] {
    color: #d4a017 !important; /* gold hover */
}

.navbar-brand img[b-2u25g07i82] {
    filter: brightness(1.1);
}

.custom-navbar .dropdown-menu[b-2u25g07i82] {
    background-color: #0f1420;
}

.custom-navbar .dropdown-item[b-2u25g07i82] {
    color: white;
}

.custom-navbar .dropdown-item:hover[b-2u25g07i82] {
    background-color: #1b2233;
    color: #d4a017;
}

a[b-2u25g07i82] {
  color: #0077cc;
}

.btn-primary[b-2u25g07i82] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-2u25g07i82], .nav-pills .show > .nav-link[b-2u25g07i82] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-2u25g07i82] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-2u25g07i82] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-2u25g07i82] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-2u25g07i82] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-2u25g07i82] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.navbar-brand img[b-2u25g07i82] {
    filter: brightness(1.1);
}