@model TSN_HR_Web.Models.ViewModels.NhanVienCreateViewModel
@{
    Layout = null;
}

<form asp-controller="NhanViens" asp-action="Create" method="post" class="nhanvien-create-form">

    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <partial name="_NhanVienForm" model="Model" />
</form>
<script>
    document.addEventListener("change", function (e) {
        if (e.target && e.target.id === "boPhanSelect") {

            const boPhanId = e.target.value;
            const chucVuSelect = document.getElementById("chucVuSelect");

            console.log("boPhanId =", boPhanId);

            chucVuSelect.innerHTML = '<option value="">-- Chọn --</option>';
            chucVuSelect.disabled = true;

            if (!boPhanId) return;

            fetch(`/NhanViens/GetChucVuByBoPhan?boPhanId=${boPhanId}`)
                .then(res => res.json())
                .then(data => {
                    console.log("Chức vụ:", data);

                    data.forEach(cv => {
                        const opt = document.createElement("option");
                        opt.value = cv.id;
                        opt.textContent = cv.ten_chuc_vu;;
                        chucVuSelect.appendChild(opt);
                    });

                    chucVuSelect.disabled = false;
                })
                .catch(err => console.error(err));
        }
    });
</script>