@model TSN_HR_Web.Models.ViewModels.NhanVienCreateViewModel
@{
    Layout = null;
}

<form asp-controller="NhanViens" asp-action="Create" method="post" class="nhanvien-create-form">

    @Html.AntiForgeryToken()

    <!-- ===== TABS ===== -->
    <ul class="nav nav-tabs mb-3" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#tab-soyeulylich" type="button"
                role="tab">
                Sơ yếu lý lịch
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-baohiem" type="button" role="tab">
                Thông tin bảo hiểm
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-hopdong" type="button" role="tab">
                Hợp đồng
            </button>
        </li>
    </ul>
    <!-- ===== CONTENT ===== -->
    <div class="tab-content">
        <div class="container-fluid px-0 tab-pane fade show active" id="tab-soyeulylich" role="tabpanel">
            <div class="row g-3 align-items-start">
                <!-- ===== AVATAR ===== -->
                <div class="col-lg-2 col-md-3 text-center">
                    <div class="avatar-wrapper">
                        <img src="https://via.placeholder.com/120" class="rounded-circle img-fluid mb-2" />
                        <button type="button" class="btn btn-primary btn-sm avatar-edit">
                            <i class="bi bi-pencil"></i>
                        </button>
                    </div>
                </div>
                <!-- ===== SƠ YẾU LÝ LỊCH ===== -->
                <div class="col-lg-10 col-md-9">
                    <!-- HỌ TÊN / NGÀY SINH / NƠI SINH -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-2 col-md-6">
                            <label>Họ và Tên đệm</label>
                            <input asp-for="ho_nv" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Tên</label>
                            <input asp-for="ten_nv" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Ngày sinh</label>
                            <input asp-for="ngay_sinh" type="date" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Nơi sinh</label>
                            <input asp-for="noi_sinh" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Nguyên quán</label>
                            <input asp-for="nguyen_quan" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <!-- GIỚI TÍNH / NGUYÊN QUÁN / CCCD -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-2 col-md-6">
                            <label class="d-block">Giới tính</label>
                            <label class="me-2">
                                <input type="radio" asp-for="gioi_tinh" value="1" /> Nam
                            </label>
                            <label>
                                <input type="radio" asp-for="gioi_tinh" value="2" /> Nữ
                            </label>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Số CCCD/CMND</label>
                            <input asp-for="so_cccd" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Ngày cấp</label>
                            <input asp-for="ngay_cap" type="date" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Nơi cấp</label>
                            <input asp-for="noi_cap" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <!-- NƠI CẤP / DÂN TỘC / TÔN GIÁO / ĐIỆN THOẠI -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-2 col-md-6">
                            <label>Dân tộc</label>
                            <input asp-for="dan_toc" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Tôn giáo</label>
                            <input asp-for="ton_giao" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>SĐT cá nhân</label>
                            <input asp-for="dien_thoai" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>SĐT nhà</label>
                            <input asp-for="dien_thoai_home" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <!-- ĐỊA CHỈ -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-4 col-md-6">
                            <label>Địa chỉ thường trú</label>
                            <input asp-for="thuong_tru" class="form-control rounded-4"></textarea>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Địa chỉ tạm trú</label>
                            <input asp-for="dia_chi" class="form-control rounded-4"></textarea>
                        </div>
                    </div>
                    <!-- NGÂN HÀNG -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-2 col-md-6">
                            <label>Số tài khoản</label>
                            <input asp-for="ma_tai_khoan" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <label>Tên ngân hàng</label>
                            <input asp-for="ngan_hang" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Mã số thuế</label>
                            <input asp-for="ma_so_thue" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <!-- HỌC VẤN -->
                    <div class="row g-3 mb-2">
                        <div class="col-lg-2 col-md-6">
                            <label>Học vấn</label>
                            <select asp-for="hoc_van" asp-items="ViewBag.HocVanList" class="form-select rounded-pill">
                                <option value="">-- Chọn học vấn --</option>
                            </select>
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Trình độ</label>
                            <select asp-for="trinh_do" asp-items="ViewBag.TrinhDoList" class="form-select rounded-pill">
                                <option value="">-- Chọn trình độ --</option>
                            </select>
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <label>Chuyên ngành</label>
                            <input asp-for="chuyen_nganh" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <!-- TRANG PHỤC -->
                    <div class="row g-3">
                        <div class="col-lg-2 col-md-6">
                            <label>Mã trang phục</label>
                            <input asp-for="ma_trang_phuc" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Mã giày</label>
                            <input asp-for="ma_giay" class="form-control rounded-pill" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ===== TAB: THÔNG TIN BẢO HIỂM ===== -->
        <div class="container-fluid px-0 tab-pane fade" id="tab-baohiem" role="tabpanel">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-11 mx-auto">
                    <div class="row g-3 mb-3 d-flex justify-content-around">
                        <div class="col-lg-2 col-md-6">
                            <label>Số sổ BHXH</label>
                            <input asp-for="so_bhxh" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Số KSK</label>
                            <input asp-for="so_ksk" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Số BHYT</label>
                            <input asp-for="so_bhyt" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Số thẻ Công đoàn</label>
                            <input asp-for="so_the_cong_doan" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <div class="row g-3 mb-3 d-flex justify-content-around">
                        <div class="col-lg-2 col-md-6">
                            <label>Mã KCB cũ</label>
                            <input asp-for="ma_kcb_cu" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Tên KCB cũ</label>
                            <input asp-for="ten_kcb_cu" class="form-control rounded-pill" />
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <label>Mã KCB mới</label>
                            <input asp-for="ma_kcb_moi" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Tên KCB mới</label>
                            <input asp-for="ten_kcb_moi" class="form-control rounded-pill" />
                        </div>
                    </div>
                    <div class="row g-3 d-flex justify-content-around">
                        <div class="col-lg-2 col-md-6">
                            <label>Ngày BHTN</label>
                            <input asp-for="ngay_bhtn" type="date" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Ngày BHXH</label>
                            <input asp-for="ngay_bhxh" type="date" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Ngày thử việc</label>
                            <input asp-for="ng_thu_viec" type="date" class="form-control rounded-pill" />
                        </div>

                        <div class="col-lg-2 col-md-6">
                            <label>Ngày vào chính thức</label>
                            <input asp-for="ng_vao_chinh_thuc" type="date" class="form-control rounded-pill" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0 tab-pane fade" id="tab-hopdong" role="tabpanel">
            <div class="d-flex justify-content-end mb-3">
                <button type="button" class="btn btn-outline-primary btn-sm d-flex align-items-center gap-1"
                    onclick="printTab('tab-baohiem')">

                    <svg class="menu-icon">
                        <use href="@Url.Content("~/icons/icons.svg#icon-print")"
                            xlink:href="@Url.Content("~/icons/icons.svg#icon-print")"></use>
                    </svg>

                    <span>In</span>
                </button>
            </div>
        </div>
    </div>
</form>