@model TSN_HR_Web.Models.ViewModels.BoPhanCreateViewModel
@{
    bool isReadOnly = ViewBag.ReadOnly == true;
}
<input type="hidden" asp-for="id" />
<div class="mb-3">
    <label>Cơ sở</label>
    <select asp-for="coSoId" asp-items="ViewBag.CoSoList" class="form-select rounded-pill">
        <option value="">-- Chọn cơ sở --</option>
    </select>
</div>
<div class="mb-3">
    <label>Mã Phòng Ban</label>
    <input asp-for="maBoPhan" class="form-control rounded-pill" readonly="@(isReadOnly ? "readonly" : null)" />
</div>

<div class="mb-3">
    <label>Tên Phòng Ban</label>
    <input asp-for="tenBoPhan" class="form-control rounded-pill" readonly="@(isReadOnly ? "readonly" : null)" />
</div>