@model TSN_HR_Web.Models.BoPhan

@{
    ViewData["Title"] = "Phòng ban";
}

<h3>Thêm mới Phòng ban</h3>

<h4>Phòng ban</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaBoPhan" class="control-label"></label>
                <input asp-for="MaBoPhan" class="form-control" />
                <span asp-validation-for="MaBoPhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenBoPhan" class="control-label"></label>
                <input asp-for="TenBoPhan" class="form-control" />
                <span asp-validation-for="TenBoPhan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoSoId" class="control-label"></label>
                <input asp-for="CoSoId" class="form-control" />
                <span asp-validation-for="CoSoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
