@model TSN_HR_Web.ViewModels.BoPhanCreateViewModel

@{
    Layout = null;
}

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <div class="row g-3 mb-3">
        <div>
            <label class="form-label fw-bold">Mã Phòng Ban</label>
            <input asp-for="MaBoPhan" class="form-control"/>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div>
            <label class="form-label fw-bold">Tên Phòng Ban</label>
            <input asp-for="TenBoPhan" class="form-control"/>
        </div>
    </div>

    <div class="row g-3 mb-3">
        <div>
            <label class="form-label fw-bold">Mã Cụm</label>
            <input asp-for="MaCoSo" class="form-control"/>
        </div>
    </div>

</form>

