@model TSN_HR_Web.Models.ViewModels.BoPhanCreateViewModel
@{
    Layout = null;
    ViewData["Title"] = "Phòng Ban";
}

<form asp-controller="BoPhans" asp-action="Create" method="post" class="bophan-create-form needs-valication px-3" novalidate>

    @Html.AntiForgeryToken()

    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

    <!-- MÃ CƠ SỞ -->
    <div class="mb-3">
        <label class="form-label small fw-medium">Mã cơ sở</label>
        <select asp-for="co_so_id" asp-items="Model.CoSoList" class="form-select rounded-pill">
            <option value="">-- Chọn cơ sở --</option>
        </select>
    </div>

    <!-- MÃ PHÒNG BAN -->
    <div class="mb-3">
        <label class="form-label small fw-medium">Mã phòng ban</label>
        <input asp-for="ma_bo_phan" class="form-control rounded-pill" placeholder="VD: HC01" />
        <span asp-validation-for="ma_bo_phan" class="invalid-feedback"></span>
    </div>

    <!-- TÊN PHÒNG BAN -->
    <div class="mb-4">
        <label class="form-label small fw-medium">Tên phòng ban</label>
        <input asp-for="ten_bo_phan" class="form-control rounded-pill" placeholder="Ban Tổ chức Hành chính" />
        <span asp-validation-for="ten_bo_phan" class="invalid-feedback"></span>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />