@model TSN_HR_Web.Models.Entities.muc_luong

@{
    ViewData["Title"] = "Muc luong theo ngach";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ma_muc_luong" class="control-label"></label>
                <input asp-for="ma_muc_luong" class="form-control" />
                <span asp-validation-for="ma_muc_luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ngach_vien_chuc_id" class="control-label"></label>
                <input asp-for="ngach_vien_chuc_id" class="form-control" />
                <span asp-validation-for="ngach_vien_chuc_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bac_luong" class="control-label"></label>
                <input asp-for="bac_luong" class="form-control" />
                <span asp-validation-for="bac_luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="he_so_luong" class="control-label"></label>
                <input asp-for="he_so_luong" class="form-control" />
                <span asp-validation-for="he_so_luong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
