@model TSN_HR_Web.Models.ViewModels.CoSoCreateViewModel
@{
    bool isReadOnly = ViewBag.ReadOnly == true;
}
<input type="hidden" asp-for="id" />
<!-- MÃ CƠ SỞ -->
<div class="mb-3">
    <label class="form-label small fw-medium">Mã Cơ Sở</label>
    <input asp-for="ma_co_so" class="form-control rounded-pill" readonly="@(isReadOnly ? "readonly" : null)" />
</div>

<!-- TÊN CƠ SỞ -->
<div class="mb-3">
    <label class="form-label small fw-medium">Tên cơ sở</label>
    <input asp-for="ten_co_so" class="form-control rounded-pill" readonly="@(isReadOnly ? "readonly" : null)" />
</div>

<!-- ĐỊA CHỈ -->
<div class="mb-4">
    <label class="form-label small fw-medium">Địa chỉ</label>
    <input asp-for="dia_chi" class="form-control rounded-pill" readonly="@(isReadOnly ? "readonly" : null)" />
</div>