@model TSN_HR_Web.Models.ViewModels.ChucVuCreateViewModel
@{
    Layout = null;
}

<form method="post"
      asp-action="Create"
      class="chucvu-create-form px-3 needs-validation"
      novalidate>

    @Html.AntiForgeryToken()

    <partial name="_ChucVuForm" model="Model" />
</form>
