USE [master]
GO
/****** Object:  Database [TSN_HR]    Script Date: 12/17/2025 10:55:53 AM ******/
CREATE DATABASE [TSN_HR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TSN_HR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TSN_HR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TSN_HR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\TSN_HR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TSN_HR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TSN_HR]
GO
/****** Object:  Table [dbo].[bac_luong]    Script Date: 12/17/2025 10:55:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bac_luong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_muc_luong] [varchar](10) NOT NULL,
	[ngach_id] [int] NOT NULL,
	[bac_so] [tinyint] NOT NULL,
	[he_so_luong] [decimal](5, 2) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_muc_luong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_muc_luong] UNIQUE NONCLUSTERED 
(
	[ma_muc_luong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bao_hiem]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bao_hiem](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_kcb_cu] [nvarchar](50) NULL,
	[ten_kcb_cu] [nvarchar](200) NULL,
	[ma_kcb_moi] [nvarchar](50) NULL,
	[ten_kcb_moi] [nvarchar](200) NULL,
	[so_bhxh] [nvarchar](20) NULL,
	[so_ksk] [nvarchar](20) NULL,
	[so_bhyt] [nvarchar](20) NULL,
	[ngay_bhtn] [date] NULL,
	[ngay_bhxh] [date] NULL,
	[thay_bhxh] [bit] NULL,
	[so_the_cong_doan] [nvarchar](20) NULL,
	[ng_thu_viec] [date] NULL,
	[ng_vao_chinh_thuc] [date] NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_thong_tin_bao_hiem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bo_phan]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bo_phan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_bo_phan] [varchar](10) NOT NULL,
	[ten_bo_phan] [nvarchar](200) NOT NULL,
	[co_so_id] [int] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_bo_phan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_bo_phan] UNIQUE NONCLUSTERED 
(
	[ma_bo_phan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chuc_vu]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuc_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_chuc_vu] [varchar](10) NOT NULL,
	[ten_chuc_vu] [nvarchar](200) NOT NULL,
	[bo_phan_id] [int] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_chuc_vu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_chuc_vu] UNIQUE NONCLUSTERED 
(
	[ma_chuc_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[co_so]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[co_so](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_co_so] [varchar](10) NOT NULL,
	[ten_co_so] [nvarchar](200) NOT NULL,
	[dia_chi] [nvarchar](300) NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_co_so] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_co_so] UNIQUE NONCLUSTERED 
(
	[ma_co_so] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hop_dong]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hop_dong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_hdld] [nvarchar](50) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[loai_hop_dong_id] [int] NOT NULL,
	[SO_HDLD_L] [nvarchar](50) NULL,
	[KY_HD_TU] [date] NOT NULL,
	[KY_HD_DEN] [date] NULL,
	[SO_LAN] [tinyint] NULL,
	[ng_thoi_viec] [date] NULL,
	[so_quyet_dinh_thoi_viec] [nvarchar](100) NULL,
	[ly_do_nghi] [nvarchar](200) NULL,
	[tien_tro_cap] [nvarchar](20) NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_hop_dong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_hop_dong_so] UNIQUE NONCLUSTERED 
(
	[so_hdld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_hop_dong]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_hop_dong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_loai] [varchar](10) NOT NULL,
	[ten_loai] [nvarchar](200) NOT NULL,
	[loai_hdld] [nvarchar](50) NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_loai_hop_dong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_loai_hop_dong] UNIQUE NONCLUSTERED 
(
	[ma_loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loai_vien_chuc]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loai_vien_chuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_loai_vien_chuc] [varchar](10) NOT NULL,
	[ten_loai_vien_chuc] [nvarchar](200) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_loai_vien_chuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_loai_vien_chuc_ma] UNIQUE NONCLUSTERED 
(
	[ma_loai_vien_chuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[luong]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[luong](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_luong] [varchar](10) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[ma_thue] [nvarchar](20) NULL,
	[gia_canh] [decimal](18, 2) NULL,
	[tru_khac] [decimal](18, 2) NULL,
	[nam_tham_nien] [decimal](18, 2) NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[thang] [tinyint] NULL,
	[nam] [smallint] NULL,
	[tong_thu_nhap] [decimal](18, 0) NULL,
	[tong_khau_tru] [decimal](18, 0) NULL,
	[luong_thuc_nhan] [decimal](18, 0) NULL,
 CONSTRAINT [PK_luong] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_luong] UNIQUE NONCLUSTERED 
(
	[ma_luong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[muc_luong_co_so]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[muc_luong_co_so](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[so_tien] [decimal](18, 0) NOT NULL,
	[tu_ngay] [date] NOT NULL,
	[den_ngay] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ngach_cong_vien_chuc]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ngach_cong_vien_chuc](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_ngach] [varchar](10) NOT NULL,
	[ten_ngach] [nvarchar](200) NOT NULL,
	[chuyen_nganh] [nvarchar](200) NOT NULL,
	[loai_vien_chuc_id] [int] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
	[so_bac_toi_da] [int] NULL,
	[nhom_ngach_id] [int] NULL,
 CONSTRAINT [PK_ngach_cong_vien_chuc] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_ngach] UNIQUE NONCLUSTERED 
(
	[ma_ngach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nghiep_vu]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nghiep_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nghiep_vu] [varchar](10) NOT NULL,
	[ten_nghiep_vu] [nvarchar](200) NOT NULL,
	[loai_nghiep_vu] [nvarchar](200) NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_nghiep_vu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_nghiep_vu] UNIQUE NONCLUSTERED 
(
	[ma_nghiep_vu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nv] [varchar](10) NOT NULL,
	[ma_so_yeu_ly_lich] [int] NOT NULL,
	[ma_thong_tin_bao_hiem] [int] NOT NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_nhan_vien] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_nhan_vien] UNIQUE NONCLUSTERED 
(
	[ma_nv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien_bo_phan]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien_bo_phan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[bo_phan_id] [int] NOT NULL,
	[is_primary] [bit] NOT NULL,
	[ma_quan_ly] [int] NOT NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_nhan_vien_bo_phan] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien_phu_cap]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien_phu_cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[phu_cap_id] [int] NOT NULL,
	[effective_from] [date] NOT NULL,
	[effective_to] [date] NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_nhan_vien_phu_cap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhom_ngach]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhom_ngach](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_nhom] [nvarchar](10) NOT NULL,
	[ten_nhom] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phu_cap]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phu_cap](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_phu_cap] [varchar](10) NOT NULL,
	[ten_phu_cap] [nvarchar](200) NOT NULL,
	[mo_ta] [nvarchar](500) NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_phu_cap] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_phu_cap] UNIQUE NONCLUSTERED 
(
	[ma_phu_cap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[so_yeu_ly_lich]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[so_yeu_ly_lich](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ma_so_yeu_ly_lich] [varchar](10) NOT NULL,
	[ten_nv] [nvarchar](50) NOT NULL,
	[ho_nv] [nvarchar](50) NOT NULL,
	[gioi_tinh] [nvarchar](10) NOT NULL,
	[ngay_sinh] [date] NULL,
	[noi_sinh] [nvarchar](200) NULL,
	[dan_toc] [nvarchar](50) NULL,
	[ton_giao] [nvarchar](50) NULL,
	[nguyen_quan] [nvarchar](200) NULL,
	[thuong_tru] [nvarchar](300) NULL,
	[dia_chi] [nvarchar](300) NULL,
	[dien_thoai_home] [varchar](20) NULL,
	[dien_thoai] [varchar](20) NULL,
	[dinh_muc] [tinyint] NULL,
	[so_cccd] [varchar](20) NULL,
	[ngay_cap] [date] NULL,
	[noi_cap] [nvarchar](200) NULL,
	[passport] [nvarchar](20) NULL,
	[chuyen_nganh] [nvarchar](100) NULL,
	[trinh_do] [nvarchar](50) NULL,
	[hoc_van] [nvarchar](50) NULL,
	[ma_tai_khoan] [varchar](50) NULL,
	[ngan_hang] [nvarchar](100) NULL,
	[ma_so_thue] [varchar](20) NULL,
	[thanh_phan_gd] [nvarchar](200) NULL,
	[ma_trang_phuc] [nvarchar](10) NULL,
	[ma_giay] [nvarchar](20) NULL,
	[created_date] [datetime2](7) NOT NULL,
	[updated_date] [datetime2](7) NOT NULL,
	[is_active] [bit] NOT NULL,
 CONSTRAINT [PK_so_yeu_ly_lich] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ma_so_yeu_ly_lich] UNIQUE NONCLUSTERED 
(
	[ma_so_yeu_ly_lich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[xep_luong_nhan_vien]    Script Date: 12/17/2025 10:55:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xep_luong_nhan_vien](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nhan_vien_id] [int] NOT NULL,
	[ngach_id] [int] NOT NULL,
	[bac_luong_id] [int] NOT NULL,
	[quyet_dinh_so] [nvarchar](50) NULL,
	[ngay_xep_luong] [date] NULL,
	[is_hien_hanh] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bac_luong] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[bac_luong] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[bac_luong] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[bao_hiem] ADD  CONSTRAINT [DF_thong_tin_bao_hiem_created]  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[bao_hiem] ADD  CONSTRAINT [DF_thong_tin_bao_hiem_updated]  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[bao_hiem] ADD  CONSTRAINT [DF_thong_tin_bao_hiem_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[bo_phan] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[bo_phan] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[bo_phan] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[chuc_vu] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[chuc_vu] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[chuc_vu] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[co_so] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[co_so] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[co_so] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[hop_dong] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[loai_hop_dong] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[loai_hop_dong] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[loai_hop_dong] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[loai_vien_chuc] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[loai_vien_chuc] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[loai_vien_chuc] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[luong] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[luong] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[luong] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[ngach_cong_vien_chuc] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[ngach_cong_vien_chuc] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[ngach_cong_vien_chuc] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nghiep_vu] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[nghiep_vu] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[nghiep_vu] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[nhan_vien] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[nhom_ngach] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[phu_cap] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[phu_cap] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[phu_cap] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[so_yeu_ly_lich] ADD  DEFAULT (sysutcdatetime()) FOR [created_date]
GO
ALTER TABLE [dbo].[so_yeu_ly_lich] ADD  DEFAULT (sysutcdatetime()) FOR [updated_date]
GO
ALTER TABLE [dbo].[so_yeu_ly_lich] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien] ADD  DEFAULT ((1)) FOR [is_hien_hanh]
GO
ALTER TABLE [dbo].[bac_luong]  WITH CHECK ADD  CONSTRAINT [FK_muc_luong_ngach_vien_chuc] FOREIGN KEY([ngach_id])
REFERENCES [dbo].[ngach_cong_vien_chuc] ([id])
GO
ALTER TABLE [dbo].[bac_luong] CHECK CONSTRAINT [FK_muc_luong_ngach_vien_chuc]
GO
ALTER TABLE [dbo].[bo_phan]  WITH CHECK ADD  CONSTRAINT [FK_bo_phan_co_so] FOREIGN KEY([co_so_id])
REFERENCES [dbo].[co_so] ([id])
GO
ALTER TABLE [dbo].[bo_phan] CHECK CONSTRAINT [FK_bo_phan_co_so]
GO
ALTER TABLE [dbo].[chuc_vu]  WITH CHECK ADD  CONSTRAINT [FK_chuc_vu_bo_phan] FOREIGN KEY([bo_phan_id])
REFERENCES [dbo].[bo_phan] ([id])
GO
ALTER TABLE [dbo].[chuc_vu] CHECK CONSTRAINT [FK_chuc_vu_bo_phan]
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD  CONSTRAINT [FK_hop_dong_loai_hop_dong] FOREIGN KEY([loai_hop_dong_id])
REFERENCES [dbo].[loai_hop_dong] ([id])
GO
ALTER TABLE [dbo].[hop_dong] CHECK CONSTRAINT [FK_hop_dong_loai_hop_dong]
GO
ALTER TABLE [dbo].[hop_dong]  WITH CHECK ADD  CONSTRAINT [FK_hop_dong_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[hop_dong] CHECK CONSTRAINT [FK_hop_dong_nhan_vien]
GO
ALTER TABLE [dbo].[luong]  WITH CHECK ADD  CONSTRAINT [FK_luong_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[luong] CHECK CONSTRAINT [FK_luong_nhan_vien]
GO
ALTER TABLE [dbo].[ngach_cong_vien_chuc]  WITH CHECK ADD  CONSTRAINT [FK_ngach_nhom] FOREIGN KEY([nhom_ngach_id])
REFERENCES [dbo].[nhom_ngach] ([id])
GO
ALTER TABLE [dbo].[ngach_cong_vien_chuc] CHECK CONSTRAINT [FK_ngach_nhom]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_ma_so_yeu_ly_lich] FOREIGN KEY([ma_so_yeu_ly_lich])
REFERENCES [dbo].[so_yeu_ly_lich] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FK_nhan_vien_ma_so_yeu_ly_lich]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_ma_thong_tin_bao_hiem] FOREIGN KEY([ma_thong_tin_bao_hiem])
REFERENCES [dbo].[bao_hiem] ([id])
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [FK_nhan_vien_ma_thong_tin_bao_hiem]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_bo_phan_bo_phan] FOREIGN KEY([bo_phan_id])
REFERENCES [dbo].[bo_phan] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] CHECK CONSTRAINT [FK_nhan_vien_bo_phan_bo_phan]
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_bo_phan_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_bo_phan] CHECK CONSTRAINT [FK_nhan_vien_bo_phan_nhan_vien]
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_phu_cap_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap] CHECK CONSTRAINT [FK_nhan_vien_phu_cap_nhan_vien]
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap]  WITH CHECK ADD  CONSTRAINT [FK_nhan_vien_phu_cap_phu_cap] FOREIGN KEY([phu_cap_id])
REFERENCES [dbo].[phu_cap] ([id])
GO
ALTER TABLE [dbo].[nhan_vien_phu_cap] CHECK CONSTRAINT [FK_nhan_vien_phu_cap_phu_cap]
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_xlnv_bac_luong] FOREIGN KEY([bac_luong_id])
REFERENCES [dbo].[bac_luong] ([id])
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien] CHECK CONSTRAINT [FK_xlnv_bac_luong]
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_xlnv_ngach] FOREIGN KEY([ngach_id])
REFERENCES [dbo].[ngach_cong_vien_chuc] ([id])
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien] CHECK CONSTRAINT [FK_xlnv_ngach]
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien]  WITH CHECK ADD  CONSTRAINT [FK_xlnv_nhan_vien] FOREIGN KEY([nhan_vien_id])
REFERENCES [dbo].[nhan_vien] ([id])
GO
ALTER TABLE [dbo].[xep_luong_nhan_vien] CHECK CONSTRAINT [FK_xlnv_nhan_vien]
GO
USE [master]
GO
