.table-wrapper {
    max-height: auto;
    overflow: auto;
}

.table-sticky thread th {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #f8f9fa;
}

.table-sticky td.text-nowrap {
    white-space: nowrap;
}