@* @model TSN_HR_Web.Models.ViewModels.NgachCongVienChucCreateViewModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Chức Vụ";
}

<form asp-controller="NgachCongVienChucs" asp-action="Create" method="post" class="ngachcongvienchuc-create-form">
    @Html.AntiForgeryToken()
    <div class="row justify-content-center">
        <div class="col-lg-10 col-md-11 mx-auto">
            <div class="row g-3 mb-3 d-flex justify-content-around">
                <div class="col-lg-2 col-md-6">
                    <label>Mã Ngạch</label>
                    <input asp-for="ma_ngach" class="form-control rounded-pill" />
                </div>
                <div class="col-lg-2 col-md-6">
                    <label>Tên Ngạch</label>
                    <input asp-for="ten_ngach" class="form-control rounded-pill" />
                </div>
            </div>
        </div>
    </div>
</form> *@